.header {
  width: 100%;
  height: 5rem;
  display: flex;
  padding: 0 10%;
  justify-content: space-between;
  align-items: center;
  background-color: #008080;
}

.logo {
  font-size: 2rem;
  color: white;
}

.nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav li {
  margin-left: 1.5rem;
  font-size: 1.2rem;
}

.nav a {
  text-decoration: none;
  color: #88dfdf;
}

.nav a:hover,
.nav a:active,
.nav a.active {
  color: #e6fcfc;
}

/*Generatede Logout Btn CSS*/
.btn {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 5px;
  font-family: Courier New;
  color: #ffffff;
  font-size: 12px;
  background: #008080;
  padding: 10px 20px 10px 20px;
  border: solid #ffffff 1px;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  font-family: sans-serif;
}

.btn:hover {
  background: white;
  color: #008080;
  text-decoration: none;
}

@media screen and (min-width: 300px) and (max-width: 900px){
  .logo{
    font-size: 1rem;
  }

  .nav li{
    font-size: 1rem;
  }
}